<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3">
            <img style="width:70%; height:70%" src="assets/images/{{artist.name}}_tn.jpg" alt="photo of {{artist.name}}" class="img-fluid rounded">
        </div>
        <div class="col-sm-8 col-lg-4">
            <h2 class="mt-3 mt-sm-0 mb-0">{{artist.name}}</h2>
            <h4 class="mt-0">Age : {{artist.age}}</h4>
            <h4 class="mt-0">City : {{artist.city}}</h4>
        </div>
    </div>
</div>