<style>
  td{
    align-items: center;
    justify-content: center;
  }
</style>
<div class="row justify-content-center">
  <div class="card mt-sm-3 col-md-8">
    <div class="card-body">
      <h3 class="mb-0">Artist Directory</h3>
      <div class="form-group">
        <div class="form-label" *ngIf="name">
          <strong>For:</strong>
          {{ name }}
          <!-- <strong>Age:</strong>
          {{ age }}
          <strong>City:</strong>
          {{ city }} -->
        </div>
        <input type="text" class="form-control mt-2" placeholder="Enter your name" [(ngModel)]="name">
        <!-- <input type="text" class="form-control mt-2" placeholder="Enter your age" [(ngModel)]="age">
        <input type="text" class="form-control mt-2" placeholder="Enter your city" [(ngModel)]="city"> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <table class="table" *ngIf="name">  <!-- table-dark table-striped-columns -->
      <thead  align="center">
          <tr class="table-warning">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">City</th>
              <th scope="col">Img</th>
              <th scope="col">Button</th>
          </tr>
      </thead>
      <tbody  align="center">
          <tr  *ngFor="let artist of (artists | searchArtists : name)" [style.backgroundColor]="artist.hightlight ? '#EEE' : '#FFF'">
            <td scope="row">{{index}}</td>
            <!-- <app-artist-items [artist]="artist"></app-artist-items> -->
            <td>{{artist.name}}</td>
            <td>{{artist.age}}</td>
            <td>{{artist.city}}</td>
            <td><img [src]="'./assets/images/'+artist.name+'_tn.jpg'" style="width: 70px; height: 70px;" alt="{{'Photo of '+artist.name}}"></td>
            <td><button type="button" class="btn btn-success" (click)="showArtist($event, artist); name=''">Success</button></td>
          </tr>
      </tbody>
  </table>
</div>  
<app-artist-details *ngIf="currentArtist" 
[artist]="currentArtist"></app-artist-details>